{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="jumbotron bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Découvrez les organisations</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="section my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between mb-5">
                        <h3>Liste des organisations</h3>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#organizationModal"><i class="fas fa-add"></i> Nouvelle organisation</button>
                    </div>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if organizations is not empty %}
                                {% for x,organization in organizations %}
                                    <tr>
                                        <th scope="row">{{ x + 1 }}</th>
                                        <td>{{ organization.name }}</td>
                                        <td>{{ organization.description }}</td>
                                        <td>
                                            <div class="actions">
                                                <a href="{{ path("single_organization", {id: organization.id}) }}"><i class="btn fas fa-eye text-success px-1" data-bs-toggle="modal" data-bs-target="{{ '#modal_' ~ x }}"></i></a>
                                                <i class="btn fas fa-edit text-warning px-1"></i>
                                                <i class="btn fas fa-trash-can text-danger px-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td scope="row" colspan="4" class="text-center py-3">Aucune organisation pour l’instant</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="modal fade" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="organizationModalLabel">Ajouter une organisation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                {{ form_start(organizationForm, {'method': 'POST'}) }}
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            {{ form_row(organizationForm.name) }}
                                        </div>
                                        <div class="col-12 mb-3">
                                            {{ form_row(organizationForm.description) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                                {{ form_end(organizationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
