{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="jumbotron bg-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="mb-5">Organisation : {{ organization.name }}</h1>
                    <p>{{ organization.description }}</p>
                </div>
            </div>
        </div>
    </section>
    <div class="section my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between mb-5">
                        <h3>Liste des utilisateurs</h3>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userModal"><i class="fas fa-add"></i> Nouvel utilisateur</button>
                    </div>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Role</th>
                                <th scope="col">Password</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if organization.users is not empty %}
                                {% for x,user in organization.users %}
                                    <tr>
                                        <th scope="row">{{ x + 1 }}</th>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.role|join(',') }}</td>
                                        <td>{{ user.password }}</td>
                                        <td>
                                            <div class="actions">
                                                <i class="btn fas fa-trash-can text-danger px-1"></i>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                            <tr>
                                <td scope="row" colspan="5" class="text-center py-3">Aucun utilisateur</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="userModalLabel">Ajouter une organisation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                {{ form_start(userForm, {'method': 'POST'}) }}
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            {{ form_row(userForm.name) }}
                                        </div>
                                        <div class="col-12 mb-3">
                                            {{ form_row(userForm.role) }}
                                        </div>
                                        <div class="col-12 mb-3">
                                            {{ form_row(userForm.password) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                                {{ form_end(userForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
